@using GestorPaciente.Core.Application.ViewModels.Patient;
@model List<PatientViewModel>;
@{
    ViewData["Title"] = "Mant. Pacientes";
}
<div class="text-center mt-3">
    <h3>Mantenimiento de Pacientes</h3>
    <p>En esta seccion puede crear, actualizar y eliminar Pacientes</p>
</div>

<div class="mg-3">
    <div>
        <a class="btn btn-outline-success mb-5 col-lg-6 offset-3" asp-controller="Patient" asp-action="Create">Agregar Paciente</a>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="container-fluid">
            <div class=" row row-cols-1 row-cols-md-3 g-3">

                @if (Model == null || Model.Count == 0 )
                {
                    <div class="col">
                        <h1>No hay ningún elemento en la base de datos</h1>
                    </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card shadow-sm ">
                                <img class="bd-placeholder-img card-img-top adjust-image" src="@item.ImageUrl" width="100%"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <div class="card-body">
                                    <h4>@item.Name @item.LastName</h4>
                                    <hr />
                                    <p><b>Telefono: </b>@item.Phone</p>
                                    <p><b>Direccion: </b>@item.Address</p>
                                    <p><b>Fecha de nacimiento: </b>@item.Birthdate</p>
                                    <p><b>Cedula: </b>@item.Identification</p>


                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a asp-controller="Patient" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                            <a asp-controller="Patient" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                        </div>
                                        <br />
                                    </div>                                    
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>

